<div class="container">
    <h1>Fale conosco</h1>
    <div class="jumbotron">
        <div class="d-flex flex-row">
            <img src="~/images/Envelope-icon24.png" />
            <h5><email endereco-email="daybson.paisante@outlook.com" conteudo="Enviar e-mail"></email></h5>
        </div>
        <br />

        <div class="d-flex flex-row">
            <img src="~/images/phone-app-icon.png" width="32" height="32" />
            <h5>(31) 9-8888-7777</h5>
        </div>
        <br />

        <div class="d-flex flex-row">
            <img src="~/images/Home-iconred.png" />
            <h5>Rua José Pereira, 999 - 35170-000 - Cel. Fabriciano, MG</h5>
        </div>

    </div>
</div>