<img src="~/images/restrito.png" />
<div class="container">
    <div class="jumbotron">
        <h1>Acesso negado</h1>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</div>